.comments {
  max-width: 1184px;
  margin: auto;
  padding-bottom: 102px;
}

@media screen and (max-width: 1180px) {
  .comments {
    max-width: 928px;
  }
}
@media screen and (max-width: 1000px) {
  .comments {
    max-width: 880px;
  }
}
@media screen and (max-width: 900px) {
  .comments {
    max-width: 660px;
  }
}
@media screen and (max-width: 450px) {
  .comments {
    max-width: 343px;
  }
}
@media screen and (max-width: 365px) {
  .comments {
    max-width: 288px;
  }
}