@import url(./_underline/header__lang_underline.css);

.header__lang {
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 1.5rem;
text-align: end;
color: white;
align-items: flex-end;
margin-left: 18px;
}

.header__lang:last-child {
  text-decoration-line: none;
}