@import url(./__duration/video__duration.css);
@import url(./__icon/video__icon.css);
@import url(./__image/video__image.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__title-bg/video__title-bg.css);
@import url(./__title/video__title.css);
@import url(./__container/video__container.css);

.video {
  margin: auto;
  max-width: 1184px;
  margin-bottom: 102px;
}

@media screen and (max-width:1210px) {
  .video__container {
    width: 989px;
    height: 288px;
  }
  .video__title-bg {
    width: 456px;
    height: 288px;
  }
  
}
@media screen and (max-width:1060px) {
  .video__subtitle {
    margin-bottom: 35px;
  }
}
@media screen and (max-width:1000px) {
  .video__container {
    width: 720px;
    height: 200px;
  }
  .video__title-bg {
    width: 352px;
    height: 200px;
    padding-left: 25px;
  }
  .video__icon {
    margin-top: 25px;
  }
  
  .video__title {
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }

  .video__subtitle {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}


@media screen and (max-width:730px) {
  .video {
    margin: auto;
    margin-bottom: 64px;
  }
  .video__container {
    width: 343px;
    height: 408px;
    flex-direction: column;
    margin: auto;
  }
  .video__title-bg {
    width: 343px;
    height: 200px;
    padding: 0;
    margin: 0;
  }
  .video__title-bg:last-child {
    margin: 0;
    margin-top: 8px;
  }
  .video__icon {
    margin-top: 24px;
    margin-left: 24px;
  }
  .video__title {
    padding-left: 24px;
  }
  .video__subtitle {
    padding-left: 24px;
    margin-top: 2px;
  }
  .video__duration {
    margin-left: 24px;
  }
}

@media screen and (max-width:350px) {
  .video__container {
    width: 288px;
    height: 392px;
  }
  .video__title-bg {
    width: 288px;
    height: 192px;
  }
  .video__icon {
    margin-top: 16px;
    margin-left: 16px;
  }
  .video__title {
    padding-left: 16px;
  }
  .video__subtitle {
    padding-left: 16px;
    margin-top: 4px;
  }
}