@import url(./__lang/__lang.css);
@import url(./__logo/__logo.css);
@import url(./__langs/__langs.css);

.header {
  max-width: 1184px;
  max-height: 52px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

@media screen and (max-width:1100px) {
  .header {
    max-width: 928px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width:850px) {
  .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width:450px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

@media screen and (max-width:395px) {
  .header {
    max-width: 343px;
    max-height: 42px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__lang {
    font-size: 1.125rem;
    line-height: 1.125rem;
    }
    .header__lang:last-child {
      margin-left: 16px;
    }
}

@media screen and (max-width:340px) {
  .header {
    max-width: 288px;
    max-height: 42px;
  }
} 