.footer__link {
  color: white;
  margin: 0;
  padding: 0;
  padding-right: 18px;
  font-size: 1.5rem;
  line-height: 2.5625rem;
  text-decoration-line: none;
}

.footer__link:hover {
  text-decoration-line: underline;
}