.video__duration {
  font-size: 0.75rem;
  line-height: 0.8125rem;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 94px;
  z-index: 2;
}
.video__duration:hover {
  opacity: 0.8;
}