@import url(./__author/comment__author.css);
@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);

.comment {
  max-width: 382px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1120px) {
  .comment {
    max-width: 296px;
  }
}
@media screen and (max-width: 900px) {
  .comment {
    max-width: 382px;
    margin: auto;
    margin-bottom: 48px;
  }
  .comment:last-child {
    margin-bottom: 0;
  }

  .comment__author {
    margin: auto;
    order: 2;
    margin-bottom: 24px;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .comment__image {
    margin: auto;
    order: 1;
    margin-bottom: 16px;
  }
  .comment__quote {
    margin: 0;
    order: 3;
    font-size: 1rem;
    line-height: 1.4375rem;
  }
}
@media screen and (max-width: 400px) {
  .comment {
    max-width: 343px;
  }
}

@media screen and (max-width: 400px) {
  .comment {
    max-width: 343px;
  }
}
@media screen and (max-width: 340px) {
  .comment {
    max-width: 288px;
  }
}