.video__title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  line-height: 2.4375rem;
  position: absolute;
  left:  30px;
  top: 189px;
  color: white;
  max-width: 322px;
  font-weight: 900;
}