@import url(./_transform/intro__text_transform.css);

.intro__text {
  color: white;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

